body {
  font-family: 'Arial';
  background-color:rgb(23, 17, 53);
  color: #e6e6e6;
  padding: 20px; /* Margins on website appearance */
  font-size: 15px;
  justify-content: left;
}

.blog-summary {
  text-align: left;
}

/* Default Classes */


td {
  padding: 1%;
  border: 1px dotted;
}

/*Article-type classes */
.dear-sky a {
  color: pink;
}

.vendors a {
  color: lightblue;
}

/*Issue-type classes */

.i05 {
  color: rgb(255, 7, 247);
  background-color: rgb(9, 202, 255);
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  text-align: center;
}

.i04 {
  color: rgb(255, 251, 0);
  background-color: rgb(5, 78, 12);
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  text-align: center;
}

.i03 {
  color: rgb(143, 8, 3);
  background-color: rgb(223, 203, 180);
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  text-align: center;
}

.i02 {
  color: rgb(118, 234, 255);
  background-color: rgb(55, 57, 57);
  font-family: 'Courier New', Courier, monospace;
  font-weight:bolder;
  text-align: center;
}



.credit {
    left: 0;
    right: 0;
    background-color: #5c7696;
    padding: 2px;
    font-style: italic;
    color:rgb(255, 255, 255);
    line-height: 103%;
}

.credit a{
  color:rgb(92, 236, 87);
}

a {
  color:#00ff00;
}

h2 {
  font-size: 30px;
  text-align: left;
  letter-spacing: 2px;
  font-family: Arial, Helvetica, sans-serif;
}


/*Mobile design changes*/

@media (max-width: 600px) {
 

}
